
div{
  display: inline-block;
}

.container{
  font-size: 1.6em;
  margin-left: 20px;
  margin-top:10px;
  border-style: solid;
  border-width: 2px;
}
.row{
  min-width:70%;
}
.label{
  margin-left:20px;
}

.box{
  min-height: 500px;
}
.dynamicbox{
  background-color: darkgrey;
}

#CurrentUserLabel{

}

#UserNameLabel{
  font-weight: bold;
}


#Chatbox{
  margin-right: 20px;
  margin-left:10px;
  overflow: -moz-scrollbars-none;
  position:relative;
}

#UserList{
  margin-left:20px;
}

form{
  display:inline-block;
}

#message{
  width:100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;

}
#currentUser{
  list-style: none;
  padding:0;
}

#messages{
  list-style: none;
  padding:5px;
  overflow: auto;
  position: absolute;
  bottom:0;
  max-height:480px;
  width:100%;
  margin-bottom: 5px;
}