body{
  font-size: 1.6em;

  margin:10px;
}


div{
  display: inline-block;
}

.container{
  margin:auto;
  border-style: solid;
  border-width: 2px;
}
.row{
  min-width:70%;
}
.label{
  margin-left:20px;
}

.box{
  min-height: 500px;
}
.dynamicbox{
  background-color: darkgrey;
}

#CurrentUserLabel{

}
#UserNameLabel{

}

#Chatbox{
  margin-right: 20px;
  margin-left:10px;
  width:60%;
  overflow: -moz-scrollbars-none;
  position:relative;
}

#UserList{
  width:20%;
  margin-left:20px;
}

form{
  display:inline-block;
}

#message{
  width:100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;

}
#currentUser{
  list-style: none;
}

#messages{
  list-style: none;
  padding:5px;
  overflow: auto;
  position: absolute;
  bottom:0;
  max-height: 400px;
}