extends layout

block content
  h1= title
  p Welcome to #{title}
  div(
    class = ['container','test1']
    )
    div.row
      div(
      id=['currentuser']
      )
        | Current User
      div(
      id=['userlist']
      )
        | User List
    div.row

    script.
      var socket = io();